body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.bg {
    background-image: url("../images/voltron-background.jpeg");
    height: 100%;

    /* Center and scale the image nicely */
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;

}

.game-container{
    display: grid;
    grid-template-areas: 
        'header hader'
        'queue queue'
        'heroLabel heroLabel'
        'hero info'
        'defenderLabel info'
        'defender info'
}