body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: darkblue;
    background-image: url("../images/background-tile.png");
}

.bg {
    background-image: url("../images/voltron-background.jpeg");
    height: 100%;

    /* Center and align the image */
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;

}

.game-container{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: auto;

    text-align: left;
    padding: 0 10px;
    margin: 0;
}

.hidden {
    display: none;
}

#header-section {
    width: 100%;
    text-align: right;
    padding: 0;
    margin: 0;
}

.logo {
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding: 24px 30px 0 30px;

    text-shadow:
        -1.5px -1.5px 0 red,
        1.5px -1.5px 0 red,
        -1.5px 1.5px 0 red,
        1.5px 1.5px 0 red;

}

h1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 5px;
    text-shadow:
        -1px -1px 0 blueviolet,
        1px -1px 0 blueviolet,
        -1px 1px 0 blueviolet,
        1px 1px 0 blueviolet;

}


.hero-frame {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.hero-pic {
    width: 100%;
    height: 100%;
}

.card-table {
    display: grid;
    grid-template-columns: 170px 170px 170px 170px;
    grid-column-gap: 10px;
}

.card {
    width: 170px;
    height: 170px;
    text-align: center;
    cursor: pointer;
}

.unselected-card {
    border: 2px solid green;
    background-color: lightgray;
}

.unselected-card .card-label {
    padding:5px;
    font-weight: bold;
}

button {
    border:1px solid white;
    color: white;
    padding: 5px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color:blueviolet;
    font-weight: bold;
    margin: 5px 20px;
    cursor: pointer;
}

button:active{
    background-color: red;
}

#fight-section {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
}

#battleReport {
    color: white;
    font-weight: bold;
    text-shadow:
    -.5px -.5px 0 blueviolet,
    .5px -.5px 0 blueviolet,
    -.5px .5px 0 blueviolet,
    .5px .5px 0 blueviolet;
}